section#atendimento {
    .text-box {
        h1 {
            font: {
                size: 45px;
                weight: 100;
            }
            color: #ef0b4e;
        }

        p {
            color: #323336;
            line-height: 2;
        }
    }

    .nav-pills {
        .nav-link {
            color: #323336;
            background-color: #efefef;
            margin: 0 15px;
            border-radius: 7px;
            padding: 13px;
            font-size: 15px;
        }
        .nav-link.active {
            color: #ffffff;
            background-color: #ef0b4e;
        }
    }

    .tab-content {
        .nav-pills {
            .nav-link {
                background-color: #ffffff;
                color: #5b5c65;
                margin: 0;
                border-radius: 0;
            }
            .nav-link.active {
                color: #ef0b4e;
                font-weight: 600;
            }
        }
    }

    #accordion {
        .card {
            margin: 0 15px 20px;
            h5 {
                font-size: 18px;
            }
        }
    }

    @media (max-width: 768px) {
        h1,
        p {
            text-align: center;
        }
    }
}
