section#diferentials {
    h1 {
        font: {
            size: 45px;
            weight: 100;
        }
        color: #f57900;
    }

    p {
        font-size: 14px;
        margin-bottom: 0;
    }

    span {
        font: {
            size: 13px;
            weight: 100;
        }
    }

    .hazy-image {
        img {
            transition: 0.3s all;

            @media (max-width: 768px) {
                width: 75%;
            }

            @media (min-width: 992px) {
                position: absolute;
                right: -32%;
                width: 514px;
            }

            @media (min-width: 1560px) {
                right: -38%;
            }

            @media (min-width: 1714px) {
                right: -63%;
            }
        }

        @media (max-width: 992px) {
            padding-top: 3rem;
            text-align: center;
        }
    }

    .tri-image {
        margin-bottom: -70px;
        z-index: 1;
    }
}
