section#footer {
    .nav-icons {
        .nav-link {
            padding: 12px;

            .icons {
                width: 80%;
            }
        }
    }

    p,
    .nav-footer {
        font-size: 12px;
        color: #5b5c65;
    }

    .nav-footer spna {
        font-size: 10px;
    }

    .contacts {
        font: {
            size: 12px;
            weight: 700;
        }
        color: #5b5c65;
        strong {
            color: #00995a;
        }
        small {
            font-size: 10px;
        }
    }
}
