section#topo {
    .navbar {
        background-color: #005f55;
        height: 98px;

        &-nav {
            .nav-link {
                color: #fff;
                font-size: 18px;
            }
        }
    }

    .tri-image {
        margin-bottom: -43px;
        z-index: 1;
        @media (max-width: 992px) {
            width: 30px;
        }
    }

    .hamburger {
        padding-top: 22px;
        right: 20px;
    }
}
