section#programs {
    h1 {
        color: #005f55;
    }
    .btn-success {
        transition: 0.3 all;
        background-color: #e0e0e0;
        border-radius: 10px;
        color: #5b5c65;

        svg {
            transition: 0.3 all;
            fill: #5b5c65;
        }

        &:hover {
            background-color: #005f55;
            color: #fff;

            svg {
                fill: #fff;
            }
        }
    }
}
