section#utilize {
    h1 {
        color: #bbd030;
    }
    .card {
        background-color: transparent;
        &-header {
            background-color: #efefef;
            padding: 7px 1.25rem;
            border-radius: 10px;
            a {
                text-decoration: none;
            }
            h5 {
                font: {
                    size: 14px;
                    weight: 600;
                }
                color: #5b5c65cf;
            }
        }

        .collapse,
        .collapsing {
            margin-top: -8px;
            background-color: #efefef;
            font-size: 13px;
        }

        // .collased {
        //     color: #fff;
        //     background-color: #bbd030;
        // }
    }
}
