section#versus {
    .green-bg {
        background-color: #bbd030;
        color: #fff;
    }

    .owl-carousel {
        margin-top: -180px;

        .card {
            border-radius: 15px;
            background-color: #efefef;

            h5,
            li {
                font: {
                    size: 14px;
                    weight: 100;
                }
            }
            li {
                p {
                    margin-left: 5px;
                    line-height: 2;
                }

                &::marker {
                    content: "-";
                    padding-right: 10px;
                }
            }
        }
    }
}
