section#video {
    text-align: center;

    iframe {
        width: 56vw;
        height: 32vw;
        margin-bottom: 35px;
    }

    .purple-bg {
        position: relative;

        .purple-box {
            position: absolute;
            background-color: #a41b8e;
            height: 16vw;
            width: 100%;
            bottom: -16vw;
            z-index: -2;

            .green-box {
                position: absolute;
                background-color: #b0d43c;
                width: 70vw;
                height: 16vw;
                bottom: -8vw;
                z-index: -1;
                right: 14.5vw;
                border-radius: 20px;
            }

            @media (max-width: 768px) {
                height: 51vw;
                bottom: -25vw;

                .green-box {
                    width: 82vw;
                    height: 21vw;
                    right: 9.5vw;
                }
            }
        }
    }

    .tri-image {
        margin-bottom: -73px;
    }

    @media (max-width: 768px) {
        iframe {
            width: 75%;
            height: 43vw;
        }
    }
}
