section#what-is {
    background-color: #f0f0f0;

    .text-box {
        margin-top: auto;
        margin-bottom: auto;

        h1 {
            color: #a41b8e;
            font-size: 40px;
        }

        p {
            color: #323336;
            font-size: 18px;
        }

        @media (max-width: 992px) {
            h1 {
                text-align: center;
                font-size: 25px;
            }

            p {
                text-align: center;
                font-size: 16px;
            }
        }
    }

    .tri-image {
        margin-top: 50px;
        margin-bottom: -49px;
    }

    @media (max-width: 768px) {
        .img-fluid {
            width: 75%;
        }
    }
}
