@import "~bootstrap/scss/bootstrap.scss";
@import "hamburgers/hamburgers.scss";
@import "~owl.carousel/dist/assets/owl.carousel.min.css";

@import "header.scss";
@import "whats_is.scss";
@import "video.scss";
@import "atendimento.scss";
@import "utilize.scss";
@import "versus.scss";
@import "diferentials.scss";
@import "programs.scss";
@import "faq.scss";
@import "footer.scss";

@font-face {
    font-family: "Unimed";
    src: url("/fonts/UnimedSans-Regular.otf");
    src: url("/fonts/UnimedSans-Black.otf") format("opnyype");
    src: url("/fonts/UnimedSans-Bold.otf") format("opnyype");
    src: url("/fonts/UnimedSlab-Black.otf") format("opnyype");
    src: url("/fonts/UnimedSlab-Bold.otf") format("opnyype");
    src: url("/fonts/UnimedSlab-Regular.otf") format("opnyype");
}

*,
html,
body {
    font-family: "Unimed", sans-serif;
}

.centered-img-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.relative-box {
    position: relative;
}

.purple-bg {
    background-color: #a41b8e;
    color: white;
}

.hazy-bg {
    background-color: #f0f0f0;
}

#accordion,
#violin,
#bass {
    .card {
        font-size: 18px;
        background-color: #e0e0e0;
        color: #5b5c65;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 0;
    }
    .card-header {
        display: flex;
        h5 {
            margin: auto auto auto 0;
        }
        .fa {
            font-size: 20px;
            color: #bbd030;
        }
    }
}

.divisor {
    height: 102px;
    width: 100%;
    &-topo {
        background-color: #ffffff;
    }
    &-pleno {
        background-color: #f0f0f0;
    }
}

.menu-todo {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    transition: 0.6s all;
    background-color: #095f55;

    .navbar-nav {
        padding-top: 6rem;

        .nav-link {
            padding: 15px;
            color: #fff;
            font-size: 14px;
            width: 75%;

            &:hover {
                font-weight: 700;
            }
        }

        .border-bottom {
            border-bottom: 2px solid #0a534b !important;
        }
    }

    .nav {
        position: absolute;
        bottom: 0;
        span {
            font-size: 11px;
            color: #fff;
        }
    }
}

#sidebar {
    transition: 0.6s all;
    width: 287px;
    position: fixed;
    height: 100%;
    top: 0;
    right: -287px;
    z-index: 9999;

    &.visible {
        transition: 0.6s all;
        right: 0px;
    }

    @media (max-width: 480px) {
        width: 100%;
        right: -100%;
    }
}
